---
environments:
  default:
    values:
      - values/default.yaml.gotmpl
---
helmDefaults:
  wait: true
  timeout: 600
  recreatePods: false
  force: false

commonLabels:
  provider: "{{ .Values.release_name }}-helm"

releases:
  - name: "{{ .Values.release_name }}-sympozium"
    namespace: automation
    chart: "."
    values:
      - values/default.yaml.gotmpl
